/* - - - - - G R I D - - - - - */
.GuideCard{
	display: grid;
	grid-template-areas: "title icon"
						 "description icon";
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	row-gap: var(--gap);
	align-items: center;
}
/* - - - - - G R I D - - - - - */

/* - - - - - S T Y L E S - - - - - */
.GuideCard{
	background-color: var(--darkviolet);
	padding: var(--padding);
}
.GuideCard a:first-child{
	grid-area: title;
	font-size: 2rem;
	font-weight: bold;
}
.GuideCard p{
	grid-area: description;
}
.GuideCard div{
	background-color: lightgreen;
	grid-area: icon;
	height: 100px;
	width: 100px;
}
/* - - - - - S T Y L E S - - - - - */