/* - - - - - G R I D - - - - - */
.GuideCard{
	display: grid;
	grid-template-areas: "icon title"
						 "icon description";
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--gap);
	align-items: center;
}
/* - - - - - G R I D - - - - - */

/* - - - - - S T Y L E S - - - - - */
.GuideCard{
	padding: var(--padding);
	border: 1px solid var(--foreground);
}
.GuideCard a:first-child{
	grid-area: title;
	font-size: 2rem;
	font-weight: bold;
}
.GuideCard p{
	grid-area: description;
}
.GuideCard div{
	background-color: lightgreen;
	grid-area: icon;
	height: 100px;
	width: 100px;
}
/* - - - - - S T Y L E S - - - - - */