#root{
	display: flex;
	flex-direction: column;
	row-gap: calc(var(--gap) * 2);
}
#root > img{
	align-self: flex-end;
}

form{
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
}

header{
	grid-area: header;
}
header, main > *{
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
}
.legal-boilerplate, header .tiles{
	display: flex;
	flex-direction: row;
}
header .tiles{
	overflow-x: auto;
}

main{
	grid-area: main;
	flex-grow: 1;
}
.router{
	align-items: center;
	display: flex;
	justify-content: center;
}

footer{
	grid-area: footer;
}