:root{
	/* Colours */
	--darkblue: rgb(36, 31, 49);
	--darkgreen: rgb(35, 76, 58);
	--darkviolet: rgb(19, 17, 54);
	
	--black: rgb(17, 17, 17);
	--blue: rgb(64, 87, 232);
	--green: rgb(16, 181, 27);
	--red: rgb(232, 64, 64);
	--violet: rgb(49, 12, 77);

	--lightgreen: rgb(51, 209, 122);

	--background: var(--darkblue);
	--foreground: var(--lightgreen);
	--link: var(--green);
	/* Vars */
	--icon-x1: 25px;
	--icon-x2: calc(var(--icon-x1) * 2);
	--icon-x3: calc(var(--icon-x1) * 3);
	--icon-x4: calc(var(--icon-x1) * 4);
	--padding: 10px;
	--radius: 5px;
	--gap: 10px;
}
body{
	background-color: var(--background);
	color: white;
	margin: auto;
	width: 95%;
	padding: var(--padding);
}
a{
	text-decoration: none;
	color: var(--foreground);
}
input{
	padding: var(--padding);
	border-radius: var(--radius);
	border: 1px solid var(--foreground);
	background-color: inherit;
	color: inherit;
}
input[type="submit"]:hover{
	background-color: var(--foreground);
}
.router{
	font-size: 2em;
	height: 3rem;
	width: 3rem;
}
p span{
	color: var(--link);
}
p span:hover{
	color: inherit;
	cursor: pointer;
}

#root{
	height: 100%;
}
#root > img{
	border-bottom-left-radius: var(--radius);
	border-top-left-radius: var(--radius);
	height: var(--icon-x2);
	justify-self: flex-end;
	position: absolute;
	top: 0;
	width: var(--icon);
	z-index: 100;
}

header .legal-boilerplate{
	background-color: var(--red);
	padding-right: calc(var(--padding) * 5);
	text-align: justify;
}
header .legal-boilerplate input{
	margin: 0 10px;
}
header .legal-boilerplate input[type="button"]{
	background-color: transparent;
	border: none;
	color: inherit;
}
header #login{
	max-width: 400px;
}
header h1{
	text-align: center;
}

footer p{
	text-align: center;
}