:root{
	/* Colours */
	--background: #111111;
	--darkgreen: rgba(35, 76, 58, 1);
	--darkviolet: rgba(19, 17, 54, 1);
	
	--blue: rgba(64, 87, 232, 1);
	--green: rgba(16, 181, 27, 1);
	--red: rgba(232, 64, 64, 1);
	--violet: rgba(49, 12, 77, 1);

	/* Vars */
	--icon-x1: 25px;
	--icon-x2: calc(var(--icon-x1) * 2);
	--icon-x3: calc(var(--icon-x1) * 3);
	--icon-x4: calc(var(--icon-x1) * 4);
	--padding: 10px;
	--radius: 5px;
	--gap: 10px;
}
body{
	background-color: var(--background);
	color: white;
	margin: auto;
	width: 95%;
}
body a{
	text-decoration: none;
}
body input[type="search"]{
	padding: var(--padding);
}
body .router{
	background-color: var(--green);
	color: inherit;
	font-size: 2em;
	height: 3rem;
	width: 3rem;
}
body input, body .router{
	border-radius: var(--radius);
	border: none;
}

#root{
	height: 100%;
}
#root > img{
	border-bottom-left-radius: var(--radius);
	border-top-left-radius: var(--radius);
	height: var(--icon-x2);
	justify-self: flex-end;
	position: absolute;
	top: 0;
	width: var(--icon);
	z-index: 100;
}

header .legal-boilerplate{
	background-color: var(--red);
	padding-right: calc(var(--padding) * 5);
	text-align: justify;
}
header .legal-boilerplate input{
	margin: 0 10px;
}
header .legal-boilerplate input[type="button"]{
	background-color: transparent;
	border: none;
	color: inherit;
}
header #login{
	max-width: 400px;
}
header h1{
	text-align: center;
}
header .tiles > img{
	height: 200px;
}

footer p{
	text-align: center;
}