:root{
	--usermenu: 200px;
}
#UserMenu{
	background-color: var(--background);
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	grid-area: usermenu;
	right: var(--padding);
	position: sticky;
	top: 0;
}
#UserMenu_menu{
	animation-delay: 0s;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	overflow: hidden;
	padding: var(--padding) 0px;
	position: sticky;
	top: calc(var(--icon-x2) + var(--spacing));
	width: 0px;
}
#UserMenu img{
	border-bottom-left-radius: var(--radius);
	border-top-left-radius: var(--radius);
	height: var(--icon-x2);
	position: absolute;
	width: var(--icon);
	top: 0;
}

@keyframes show{
	from{
		padding-left: 0px;
		width: 0px;
	}
	to{
		padding-left: var(--padding);
		width: var(--usermenu);
	}
}
@keyframes hide{
	from {
		padding-left: var(--padding);
		width: var(--usermenu);
	}
	to{
		padding-left: 0px;
		width: 0px;
	}
}