.UserMenu{
	animation-name: menuHiding;
	animation-delay: 0s;
	animation-duration: 0.50s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	height: 100%;
	position: absolute;
	width: 0px;
	right: 0;
	overflow: hidden;
	/* padding: var(--padding); */
	align-items: center;
}
.UserMenu > :first-child{
	position: relative;
	top: calc(var(--icon-x2) + var(--spacing));
}
.UserMenu > *{
	width: 100%;
	max-width: 400px;
}
.UserMenu form{
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing);
}

@keyframes menuShowing{
	from{
		width: 0px;
	}
	to{
		width: 100%;
	}
}
@keyframes menuHiding{
	from{
		width: 100%;
	}
	to{
		width: 0;
	}
}