.UserMenu{
	animation-name: menuHiding;
	animation-delay: 0s;
	animation-duration: 0.50s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: var(--padding);
	position: absolute;
	width: 0;
	right: -100%;
}
.UserMenu > :first-child{
	display: flex;
	flex-direction: column;
	position: relative;
	top: calc(var(--icon-x2) + var(--spacing));
}

@keyframes menuShowing{
	from{
		width: 0px;
		right: -100%;
	}
	to{
		width: 100%;
		right: 0;
	}
}
@keyframes menuHiding{
	from{
		width: 100%;
		right: 0;
	}
	to{
		width: 0;
		right: -100%;
	}
}