.GuideReader{
	display: flex;
	flex-direction: column;
	row-gap: var(--gap);
	padding: var(--padding);
}
.GuideReader h1, .GuideReader h1+p{
	text-align: center;
}
.GuideReader h1,
.GuideReader h2,
.GuideReader h3,
.GuideReader h4,
.GuideReader h5,
.GuideReader h6{
	color: var(--lightgreen);
}