#root{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: calc(var(--spacing) * 2);
}

header, main{
	display: flex;
	flex-direction: column;
	row-gap: var(--spacing);
}
.legal-boilerplate, header .tiles{
	display: flex;
	flex-direction: row;
}
header .tiles{
	overflow-x: auto;
}

main{
	flex-grow: 1;
}
.router{
	align-items: center;
	display: flex;
	justify-content: center;
}