#root{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: calc(var(--spacing) * 2);
}

header{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: var(--spacing);
}
header > section{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
}

main{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: var(--spacing);
}

footer p{
	text-align: center;
}